# Archivos de Gradle
*.iml
.gradle
/local.properties
/.idea
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Secrets
secrets.properties

# IDE
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Kotlin
*.class
*.jar
*.war
*.ear
